div{
	top:1.25vh;
	left:1.25vw;
    line-height: 2vh;
    font-size: 1.5vh;
	/* display: block; */
	-webkit-touch-callout: none; 
    -webkit-user-select: none; 
	-moz-user-select: none;  
}

#stats {
	position: absolute;
	width: 45vw;
	height: 25vh;
	color: black;
	background-color: white;
}

#monster {
	position: absolute;
	width: 25vw;
	height: 13.75vh;
	color: black;
	background-color: white;
	left:47.5vw;
}

#pet {
	position: absolute;
	width: 25vw;
	height: 10vh;
	left: 47.5vw;
	top:	16.25vh;
	color: black;
	background-color: white;
}

#log {
	position: absolute;
	width: 48vw;
	height: 71.25vh;
	color: black;
	top: 27.5vh;
	background-color:white;
}

#spells{
	position: absolute;
	width:22.5vw;
	height:25vh;
	left:50vw;
	top:27.5vh;
	color:black;
	background-color:white;
	text-align: left;
}

#loot {
	position: absolute;
	width: 22.5vw;
	height: 40vh;
	left: 50vw;
	top: 58.75vh;
	color: black;

	line-height:2vh;
	background-color:white;
}

#menu {
	position: absolute;
	width: 25vw;
	height: 97.5vh;
	left: 73.75vw;
	color: black;
	background-color:white;
}

ul.stats {
	position: relative;
	list-style: none inside none;
	columns: 3;	
	margin: 1vh 0 1vh 1vw;
	padding:0;
	display: block;	
}

li {
	position: relative;
	margin: 0 1vw 1vh 0;
	display: block;
	float: both;
}

span {	
	position: relative;
	float:right;

}

body,html {
	height: 100vh;
	width: 100vw;
	background-color: grey;
	margin: 0;
}

#attacks {
	text-align: center;
	float:left;
}